img {
    height: 300px;
    width: 300px;
}

p {
    width: 100%;
}

.btn {
    margin: 5px;
    
    width: 100px;
    text-align: center;
}

#player-1-buttons, #player-2-buttons {
    height: 48px;
}

#statistics-center {
    padding: 10px 15px;
}

#player-stats-text {
    margin: 0 0 2px 0;
}

#player-1-statistics, #player-2-statistics {
    padding: 0;
}

#message-board {
    padding: 10px 0 0 0;

    height: 216px;
}

#user-message, #user-message-btn {
    margin: 5px 0;
}

#message-board-text, #message-header {
    margin: 0 0 2px 0;
}